{% extends './layout.html' %}
{% load static %}

{% block title %}CauliflowerDB-Home{% endblock %}

{% block content %}
    <div class="row">
        <!--         左侧正文栏-->
        <div class="col-lg-8">
            <p class="fs-2">Welcome to CauliflowerDB</p>
            <p class="fs-5">A multi-omics database for cauliflower research community</p>
{#            <img src="{% static 'imgs/cauli_lifespan.jpg' %}" alt="cauli_lifespan" class="img-fluid">#}
{#            <br><br>#}
            <p class="fs-6">
                Cauliflower (<em>Brassica oleracea</em> L. var <em>botrytis</em>) is a distinctive vegetable that supplies a nutrient-rich
                edible inflorescence meristem for human diet.
            </p>
            <img src="{% static 'imgs/home1.png' %}" alt="#1" class="img-fluid">
            <br><br>
            <p class="fs-6">
                CauliflowerDB, as an integrated database, provides access to the high-quality reference genome assembly
                C-8 (V2) and a comprehensive variation map consisting of 971 diverse accessions of cauliflower and its
                relatives, which including 17,917,317 single-nucleotide polymorphsims (SNPs) and 10,813,040 insertions
                and deletions (InDels).
            </p>
            <img src="{% static 'imgs/home2.png' %}" alt="#2" class="img-fluid">
            <br><br>
            <p class="fs-6">
                Combined with <em>Brassica oleracea</em> transcriptomic data, genome-wide CRISPR/Cas9 guide RNAs, as
                well as convenient tools for online BLAST, visualization, genotype analysis and information extraction,
                CauliflowerDB offers valuable genomic resources that will empower cauliflower breeding and promote the
                basic research of florescent development in crops.
            </p>
            <p class="fs-6">
                This website is developed and maintained by the Agricultural Genomics Laboratory in Tainjin Academy of
                Agricultural Sciencecs.
            </p>
            <p class="fs-6">
                If you have any questions or advices regarding CauliflowerDB, please contact yuriyang1997@icloud.com
                and chenrui_taas@126.com.
            </p>
            <br>
            <h5>References:</h5>
            <p class="fs-6">
                1.	Chen R, et al. Genomic analyses reveal the stepwise domestication and genetic mechanism of curd
                biogenesis in cauliflower. Nature Genetics 56, XXX-XXX (2024).
                https://doi.org/10.1038/s41588-024-01744-4
            </p>
            <p class="fs-6">
                2.	Yang Y, et al. Construction of an SNP fingerprinting database and population genetic analysis of
                329 cauliflower cultivars. BMC Plant Biology 22, 522 (2022). https://doi.org/10.1186/s12870-022-03920-2
            </p>
            <br>
            <h5>License:</h5>
            <p class="fs-6">
                CauliflowerDB is free for academic use only. For any commercial use, please contact us for commercial
                licensing terms.
            </p>
        </div>
        <!--        左侧正文栏结束-->

        <!--        右侧信息展示栏-->
        <div class="col-lg-4">
            <!--            新闻栏-->
            <div class="card">
                <div class="card-header">News and Updates</div>
                <div class="card-body">
                    <h6>CauliflowerDB online on XXXX-XX-XX</h6>
                </div>
{#                <ul class="list-group list-group-flush">#}
{#                    <li class="list-group-item">#}
{#                        <a href="https://pubmed.ncbi.nlm.nih.gov/32298599/" target="_blank">Target Specificity for CRISPR/Cas9 System</a>#}
{#                    </li>#}
{#                    <li class="list-group-item">#}
{#                        <a href="https://bmcplantbiol.biomedcentral.com/articles/10.1186/s12870-022-03920-2" target="_blank">SNP Fingerprintints for Cauliflower Germplasm</a>#}
{#                    </li>#}
{#                    <li class="list-group-item">#}
{#                        <a href="https://pubmed.ncbi.nlm.nih.gov/35414860/" target="_blank">Metabolic and RNA Sequencing Analysis of Cauliflower Curds</a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
            <!--            成果展示栏结束-->
            <br>
            {#            快捷链接部分#}
            <div class="card">
                <div class="card-header">Quick Links for Relevant Databases</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://www.ncbi.nlm.nih.gov/" target="_blank">NCBI</a></li>
                    <li class="list-group-item"><a href="https://www.ebi.ac.uk/" target="_blank">EMBL-EBI</a></li>
                    <li class="list-group-item"><a href="https://www.taas.ac.cn/" target="_blank">TAAS</a></li>
                    <li class="list-group-item"><a href="http://www.bogdb.com/" target="_blank">BoGDB</a></li>
                    <li class="list-group-item"><a href="http://brassicadb.cn/#/" target="_blank">BRAD</a></li>
                </ul>
            </div>
            {#            快捷链接部分结束#}
            <br>
            {#            地球访客统计#}
            <div class="card">
                <div class="card-header">Global Visitors</div>
                <div class="card-body">
                    <script type="text/javascript"
                            src="//rf.revolvermaps.com/0/0/7.js?i=580z8edfo6x&amp;m=0&amp;c=baff00&amp;cr1=ff0000&amp;sx=0"
                            async="async"></script>
                </div>
            </div>
            {#            地球访客统计结束#}
        </div>
        <!--        右侧信息展示栏结束-->
    </div>
{% endblock %}